@use 'functions' as *;

.display-1 {
  @apply leading-none tracking-[0.05em];

  font-size: toRem(22);

  @screen lg {
    font-size: toRem(75);
  }
}

.display-2 {
  @apply leading-none tracking-[0.05em];

  font-size: toRem(18);

  @screen lg {
    font-size: toRem(35);
  }
}

.ui-1 {
  @apply text-sm leading-[1.4] tracking-[0.05em];
  @apply md:text-base;
}

.ui-2 {
  @apply text-xs leading-none tracking-[0.05em];
}

.ui-3 {
  @apply text-base tracking-[0.05em] leading-none;
  @apply md:text-xl;
}

.body-1 {
  @apply text-base leading-none tracking-[0.05em];

  @screen lg {
    font-size: toRem(22);
  }
}

.body-2 {
  @apply leading-tight tracking-[0.05em];

  font-size: toRem(26);

  @screen lg {
    font-size: toRem(52);
  }
}

.body-3 {
  @apply text-sm leading-none tracking-[0.05em];

  @screen lg {
    font-size: toRem(17);
  }
}

.body-4 {
  @apply leading-none tracking-[0.05em];

  font-size: toRem(15);

  @screen lg {
    font-size: toRem(20);
  }
}

.golden-text {
  animation: golden-text-animation 3s linear infinite;
  background: repeating-linear-gradient(90deg,
    #D79A3B 0%,
    #FFF6E2 25%,
    #D79A3B 49.04%,
    #FFF6E2 75%,
    #D79A3B 99.04%);

  -webkit-background-clip: text;
  background-clip: text;

  background-size: 200% 100%;

  -webkit-text-fill-color: transparent;

  -webkit-text-stroke: toRem(0.5) theme('colors.gold-light');
}

@keyframes golden-text-animation {
  from {
    background-position: 0% 50%;
  }

  to {
    background-position: 100% 50%;
  }
}
