@use 'fonts';
@use 'typography';
@use 'utils';
@use 'functions';
@use 'layout';
@use 'animations';

html {
  @apply text-white bg-no-repeat bg-cover bg-center bg-fixed;

  background-color: #1B0B08;

  &[data-init] {
    background-image: url('/images/bg-portrait.webp');

    @screen landscape {
      background-image: url('/images/bg-landscape.webp');
    }
  }

  /* Hide scrollbar for different browsers */
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-scrolling: none;
  scrollbar-width: none; /* Firefox */
}

body {
  font-kerning: none;
  -webkit-text-rendering: optimizeSpeed;
  text-rendering: optimizeSpeed;
  -webkit-overflow-scrolling: none;
  overscroll-behavior: none;

  @apply text-balance font-body select-none;
}

#profiler-shell {
  @apply pointer-events-none;

  & > * {
    @apply pointer-events-auto;
  }
}
